# Ignore Terraform lock files
.terraform.lock.hcl

# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore Terraform workspace files
.terraform/

# Ignore override files as they are usually used for local development
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc
